body {
	background-color: #ffffff;
	font-weight: bold;
}

.jumbotron {
	color: blue;
	font-weight: bold;
	padding: 5px;
}

.container {
	color: green;
	font-weight: bold;
}

.center {
	margin: auto;
	width: 50%;
	border: 8px #000080;
	padding: 20px;
	font-weight: bold;
}

.container .data {
	padding: 8px;
	background-color: #ff0080;
	border: solid 2px #ffff00;
	font-weight: bold;
}

.lead {
	color: #ff0080;
	font-weight: bold;
}

.container .datas {
	padding: 8px;
	background-color: #00ff40;
	border: solid 2px #ffff00;
	font-weight: bold;
}

table.custom_class th {
	padding: 8px;
	background-color: #0000ff;
	border: solid 5px #ff8000;
	font-weight: bold;
}

table.custom_class td {
	padding: 8px;
	border: solid 1px #006CFF;
	font-weight: bold;
}

table.custom_class tr {
	margin: 0;
	padding: 8px;
	font-weight: bold;
}