<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Coronavirus Tracker Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
	<link th:href="@{/css/Tracker.css}"  rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>
</head>

<body>
	<div class="container">
		<h2 class="data">Coronavirus Tracker Application::</h2>
		<p class="datas">This application lists the current number of cases reported
			across the Globe</p>

		<div class="jumbotron jumbotron-fluid">
			<h1 class="display-6" th:text="${totalReportedCases}"></h1>
			<p class="lead">Total cases reported as of today</p>
			<hr class="my-4">
			<p>
				<span>New cases reported since previous day:</span> <span
					th:text="${totalNewCases}"></span>
			</p>

		</div>

		<table class="table table-striped table-dark">
			<tr>
				<th>State</th>
				<th>Country</th>
				<th>Total cases reported</th>
				<th>Changes since last day</th>
			</tr>
			<tr th:each="locationStat : ${locationStats}">
				<td th:text="${locationStat.state}"></td>
				<td th:text="${locationStat.country}"></td>
				<td th:text="${locationStat.latestTotalCases}">0</td>
				<td th:text="${locationStat.diffFromPrevDay}">0</td>
			</tr>
		</table>
		<h6 class="center">******************End Of the Report******************</h6>
		<br>
	</div>
</body>

</html>